<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>好运旺租叉车</title>
<link href="__PUBLIC__/css/base.css" rel="stylesheet" type="text/css" />
<link href="__PUBLIC__/css/style.css" rel="stylesheet" type="text/css" />
<script type="text/javascript" src="js/pptBox.js"></script>

</head>


<body>
<div class="top">
 <div class="toplink">
   <div class="toplink2">
    <div class="tophun"> 您好，欢迎登录东莞市粤力叉车租赁公司官网!</div>
   <div class="topdeng"><a href="#" class="huiy1">会员登录</a> <a href="#" class="huiy2">免费注册</a> <a href="#">设为首页 |</a>   <a href="#">在线商城 |</a>  <a href="#">联系我们</a></div>
   <div class="clear"></div>
   </div>
 </div>
 <div class="logoTel">
  <div class="logo"><img src="__PUBLIC__/images/logo.gif" width="409" height="59" /></div>
  <div class="tel"><img src="__PUBLIC__/images/tel.gif" width="279" height="59" /></div>
  <div class="clear"></div>
 </div>
 <div class="menu">
   <div class="caid">
    <ul class="menuLink">
     <li><a href="index.html" class="current">首页</a></li>
     <li><a href="zuli/lease.html">叉车租赁</a>
      <ul>
        <li><a href="#">年月租</a></li>
        <li><a href="#">临时租</a></li>
        <li><a href="#">快捷租车</a></li>
      </ul>
     </li>
     <li><a href="mallshop.html">好运商城</a>
        <ul>
        <li><a href="#">特价车</a></li>
        <li><a href="#">工业品</a></li>       
      </ul>
     </li>
     <li> <a href="news.html">资讯中心</a>
       <ul>
        <li><a href="#">叉车租赁问答</a></li>
        <li><a href="#">叉车保养知识</a></li>
        <li><a href="#">叉车故障排除</a></li>
        <li><a href="#">行业新闻</a></li>
        <li><a href="#">公司新闻</a></li>
        <li><a href="#">叉车百科</a></li>
        <li><a href="#">叉车证</a></li>
        <li><a href="#">叉车上牌</a></li>
        <li><a href="#">下载专区</a></li>
      </ul>
     </li>
     <li><a href="car.html">服务网络</a></li>     
     <li><a href="join.html">加盟合作</a></li>
     <li class="last"><a href="about/about1.html">关于我们</a>
      <ul>
        <li><a href="#">好运旺简介</a></li>
        <li><a href="#">联系方式</a></li>       
        <li><a href="#">荣誉资质</a></li>        
        <li><a href="#">成功案例</a></li>
        <li><a href="#">发展历程</a></li>
        <li><a href="#">招贤纳士</a></li>
      </ul>
     </li> 
    </ul>
   </div>
 </div>
 <div class="now">
    <div class="now1">您当前的位置：<a href="#">首页</a>  ><a href="#">资讯中心</a></div>
    <div class="now2"><form action="" method="get">
     <div class="souk"><input name="" type="text" class="shur2"  value="请输入关键字  如品牌、吨位、名称、型号" onfocus="if(this.value=='请输入关键字  如品牌、吨位、名称、型号'){this.value='';this.style.color='#444'}" onblur="if(this.value==''){this.value='请输入关键字  如品牌、吨位、名称、型号';this.style.color='#999'}"/></div>
     <div clsas="souk2">
      <input name="" type="button" class="anniu2"/>
     </div>
     <div class="clear"></div>
    </form></div>
    <div class="clear"></div>
   </div>
    <div class="neiBanner"><img src="__PUBLIC__/images/neibn8.jpg" width="1198" height="296" /></div>
    <div class="neiNav">
    <ul class="navlist">
     <li><a href="news.html" class="current">市场动态</a></li> 
     <li><a href="news1.html" >租赁问答</a></li> 
            
    </ul>
   </div>
</div>
<div class="neiCent2">
  <div class="xinwen">
    <div class="xinbit">
     <div class="newtit">广东省物流行业协会领导拜访好运旺</div>
      <div class="newtime">发布时间：2016-11-23      来源：好运旺租叉车   阅读次数：10</div>
    </div>
    <div class="xinCent">
     <p>   11月22日，广东省物流协会贺主任冒着冰凉的细雨，在志高空调物流石总监的陪同下，前来我司拜访，公司总经理王干平进行了接待，双方就当前物流发展、叉车出租、人才培养等方面的问题进行了深入交谈。
       王干平总经理对于贺主任贺石总监的到访表示欢迎和感谢。王总介绍了好运旺的发展历程，公司文化，近年荣誉及今年的具体发展情况，他指出，叉车在我国物流行业的发展中，<br/>扮演着及其重要的角色，为物流行业的发展做出了突出贡献。好运旺的发展历程就是广东物流发展的一个缩影和反映，从最初一家几个人的叉车租赁公司，发展到如今，拥有多家分公司和300多家加盟商的全国叉车出租知名品牌，好运旺一步一个脚印，用心服务客户，坚持做诚信企业，标准化叉车租金等，做出了诸多的努力，为广东省物流行业乃至全国众多的公司和企业都做出了较大的贡献。同时，感谢广东省物流协会在好运旺的发展中一直以来的信任和支持。同时，王总就当今物流行业发展的现状和未来发展趋势，以及叉车行业的应对策略，发表了相关的看法。<br/></p>
       <p> 协会贺主任感谢王总的热情接待。他指出，广东省物流协会非常关心每一位会员单位的发展，在好运旺的发展中，对于广大客户对于好运旺的肯定表示赞赏，尤其在做诚信企业方面，做到的价格公开透明，合理标准上的努力，就好运旺近年来对于广东省物流行业做出的贡献表示肯定。希望好运旺能继续坚持，争做行业的领头羊，积极地引导行业的健康发展。他就目前协会所关心的会员单位的一些发展困难，行业引导发展方向，发展策略，行业趋势等问题做了沟通。<br/>
石总监也就双方的战略合作伙伴关系，物流行业目前发展困难，未来发展趋势，以及所需要的叉车服务等发表了看法。希望继续加强双方的友好合作，共同发展，实现多赢。
        会后，在王总的陪同下，贺主任和石总监参观了好运旺的叉车再制造基地。</p>
        <p><img src="__PUBLIC__/images/z-pic1.jpg" width="1136" height="375" /></p>
        <p> 协会贺主任感谢王总的热情接待。他指出，广东省物流协会非常关心每一位会员单位的发展，在好运旺的发展中，对于广大客户对于好运旺的肯定表示赞赏，尤其在做诚信企业方面，做到的价格公开透明，合理标准上的努力，就好运旺近年来对于广东省物流行业做出的贡献表示肯定。希望好运旺能继续坚持，争做行业的领头羊，积极地引导行业的健康发展。他就目前协会所关心的会员单位的一些发展困难，行业引导发展方向，发展策略，行业趋势等问题做了沟通。<br/>
石总监也就双方的战略合作伙伴关系，物流行业目前发展困难，未来发展趋势，以及所需要的叉车服务等发表了看法。希望继续加强双方的友好合作，共同发展，实现多赢。
        会后，在王总的陪同下，贺主任和石总监参观了好运旺的叉车再制造基地。</p>
    </div>
    <div class="fanhui"><a href="canshu.html">返回 >></a></div>
    <div class="shanp">
      <div class="shang1">上一篇：<a href="#">好运旺租叉车浙江加盟商介绍</a></div>
      <div class="shang1">下一篇：<a href="#">们好运旺租叉车浙江加盟商介绍</a></div>
    </div>
  </div>
</div>
<div class="foot">
  <div class="foot2">
  <div class="footlogo">
   <div class="logo2"><img src="__PUBLIC__/images/logo2.gif" width="389" height="65" /></div>
   <div class="footliax">
    <p class="tongy">全国统一热线：</p>
    <p> 400 1648 168； 0769-23102690；  15812814965      </p>
    <p>地址：广州市天河区建中路勤天大厦</p>
    </div>
    <div class="erwm">
     <div class="erwm1"><img src="__PUBLIC__/images/erwm1.gif" width="86" height="85" /><span>app 二维码</span></div>
     <div class="erwm1"><img src="__PUBLIC__/images/erwm1.gif" width="86" height="85" /><span>微信公众号</span></div>
     <div clsas="clear"></div>
    </div>
  </div>
  <div class="footmenu">
   <div class="fmen1">
    <div class="fmen1tit">叉车租赁  </div>
    <ul class="fmenu1">
     <li>年月租</li>
     <li><a href="#">临时租</a></li>
    </ul>
   </div>
   <div class="fmen1">
    <div class="fmen1tit">好运商城 </div>
    <ul class="fmenu1">
     <li><a href="#">特价叉车</a></li>
     <li>其他</li>
    </ul>
   </div>
   <div class="fmen1">
    <div class="fmen1tit">最新资讯 </div>
    <ul class="fmenu1">
     <li><a href="#">市场动态</a></li>
     <li><a href="#">租赁问答</a></li>
     
    </ul>
   </div>
   <div class="fmen1">
    <div class="fmen1tit">加盟合作 </div>
    <ul class="fmenu1">
     <li><a href="#">加盟合作</a></li>   
    </ul>
   </div>
   <div class="fmen1">
    <div class="fmen1tit">联系我们 </div>
    <ul class="fmenu1">
     <li><a href="#">联系方式</a></li>
     <li><a href="#">公司简介</a></li>
     <li><a href="#">下载专区</a></li>
    </ul>
   </div> 
   <div class="clear"></div>
  </div>
  <div class="clear"></div>
  </div>
  <div class="copyright">
   <div class="coyr2">      Copyright © 2014 好运旺租叉车电商平台 东莞市粤力叉车租赁有限公司 All Rights Reserved<br/>   
备案号：粤ICP备13001988号  技术支持：<a href="#">云鸿科技</a> <a href="#">app开发</a></div>
  </div>
 </div> 
</body>
</html>
