<form method="post" enctype="multipart/form-data" target="_blank" id="form-order">
    <div class="table-responsive">
        <table class="table table-bordered table-hover">
            <thead>
            <tr>
                <td style="width: 1px;" class="text-right">
                    <a href="javascript:sort('goods_id');">ID</a>
                </td>
                <td style="width: 80px;" class="text-left">
                    <a href="javascript:sort('pinpai');">品牌</a>
                </td>                                
                <td style="width: 60px;" class="text-left">
                    <a href="javascript:sort('dunwei');">吨位</a>
                </td>                
                <td style="width: 170px;" class="text-left">
                    <a href="javascript:sort('cart_type');">车类型</a>
                </td>
                <td style="width: 150px;" class="text-left">
                    <a href="javascript:sort('menjia');">门架</a>
                </td>                
                <td style="width: 60px;" class="text-center">
                    <a href="javascript:sort('mj_height');">门架提升高度</a>
                </td>
                <td style="width: 65px;" class="text-center">
                    <a href="javascript:sort('shuju');">属具</a>
                </td>
<!--                 <td style="width: 60px;" class="text-center">
                    <a href="javascript:sort('chexing');">车型</a>
                </td>  -->  
                <td style="width: 60px;" class="text-center">
                    <a href="javascript:sort('chezhong');">车种</a>
                </td>   
                <td style="width: 60px;" class="text-center">
                    是否上架
                </td>                                
                <td style="width: 100px;" class="text-center">操作</td>
            </tr>
            </thead>
            <tbody>
            <volist name="goodsList" id="list">
                <tr>
                    <td class="text-right">{$list.goods_id}</td>
                    <td class="text-left">{$list.pinpai}</td>
                    <td class="text-left">{$list.dunwei}</td>
                    <td class="text-left">{$list.cart_type}</td>
                    <td class="text-left">{$list.menjia}</td>
                    <td class="text-left">{$list.mj_height}</td>
                    <td class="text-left">{$list.shuju}</td>
                    <!-- <td class="text-left">{$list.chexing}</td> -->
                    <td class="text-left">{$list.chezhong}</td>
                    <td class="text-center"><img onclick="ajaxIsSpecialCar({$list.goods_id},$(this))" style="cursor:pointer" src="<if condition='$list.is_special_car eq 1'>/Public/images/yes.png<else/>/Public/images/cancel.png</if>" alt=""></td>
                    <td class="text-center">
                        <a  href="{:U('Admin/Goods/SpecialCarInfo',array('goods_id'=>$list['goods_id']))}" class="btn btn-info" title="查看详情"><i class="fa fa-eye"></i></a>
<!--                         <a href="javascript:void(0);" onclick="del('{$list[goods_id]}')" class="btn btn-danger" title="删除"><i class="fa fa-trash-o"></i></a> -->
                    </td>                        
                </tr>
            </volist>
            </tbody>
        </table>
    </div>
</form>
<div class="row">
    <div class="col-sm-3 text-left"></div>
    <div class="col-sm-9 text-right">{$page}</div>
</div>
<script>
    // 点击分页触发的事件
    $(".pagination  a").click(function(){
        cur_page = $(this).data('p');
        ajax_get_table('search-form2',cur_page);
    });
	
    /*
     * 清除静态页面缓存
     */
    function ClearGoodsHtml(goods_id)
    {
    	$.ajax({
				type:'GET',
				url:"{:U('Admin/System/ClearGoodsHtml')}",
				data:{goods_id:goods_id},
				dataType:'json',
				success:function(data){
					layer.alert(data.msg, {icon: 2});								 
				}
		});
    }
    /*
     * 清除商品缩列图缓存
     */
    function ClearGoodsThumb(goods_id)
    {
    	$.ajax({
				type:'GET',
				url:"{:U('Admin/System/ClearGoodsThumb')}",
				data:{goods_id:goods_id},
				dataType:'json',
				success:function(data){
					layer.alert(data.msg, {icon: 2});								 
				}
		});
    }	

    function ajaxIsSpecialCar(goods_id,obj)
    {
        $.post(
            '{:U("Goods/isSpecialCar")}',
            {goods_id:goods_id},
            function(data){
                if(data['status']==1){
                    if(data['is_special_car'] == 1){
                        console.log(obj);
                        obj.attr({'src':'/Public/images/yes.png'});
                    }else{
                        obj.attr({'src':'/Public/images/cancel.png'});
                    }
                }else{

                }
            },
            'json'
        );
    }	
</script>