<form method="post" enctype="multipart/form-data" target="_blank" id="form-order">
    <div class="table-responsive">
        <table class="table table-bordered table-hover">
            <thead>
            <tr>
                <td style="width: 1px;" class="text-right">
                    <a href="javascript:sort('goods_id');">ID</a>
                </td>
                <td style="width: 130px;" class="text-left">
                    <a href="javascript:sort('goods_name');">车类型</a>
                </td>
                <td style="width: 80px;" class="text-left">
                    <a href="javascript:sort('pinpai');">车型</a>
                </td>                                
                <td style="width: 170px;" class="text-left">
                    <a href="javascript:sort('cart_type');">标准价格</a>
                </td>
                <td style="width: 100px;" class="text-center">操作</td>
            </tr>
            </thead>
            <tbody>
            <volist name="goodsList" id="list">
                <tr>
                    <td class="text-center">{$list.id}</td>
                    <td class="text-center">{$list.name}</td>
                    <td class="text-center">{$list.chexing}</td>
                    <td class="text-center">{$list.money}</td>
                    <td class="text-center">
                        <a href="{:U('Admin/Goods/edit_cart',array('id'=>$list['id']))}" class="btn btn-primary" title="编辑"><i class="fa fa-pencil"></i></a>
                        <a href="javascript:void(0);" onclick="delCat('{$list[id]}',this)" class="btn btn-danger" title="删除"><i class="fa fa-trash-o"></i></a>
                    </td>                        
                </tr>
            </volist>
            </tbody>
        </table>
    </div>
</form>
<div class="row">
    <div class="col-sm-3 text-left"></div>
    <div class="col-sm-9 text-right">{$page}</div>
</div>
<script>
    // 点击分页触发的事件
    $(".pagination  a").click(function(){
        cur_page = $(this).data('p');
        ajax_get_table('search-form2',cur_page);
    });
	
    /*
     * 清除静态页面缓存
     */
    function ClearGoodsHtml(goods_id)
    {
    	$.ajax({
				type:'GET',
				url:"{:U('Admin/System/ClearGoodsHtml')}",
				data:{goods_id:goods_id},
				dataType:'json',
				success:function(data){
					layer.alert(data.msg, {icon: 2});								 
				}
		});
    }
    /*
     * 清除商品缩列图缓存
     */
    function ClearGoodsThumb(goods_id)
    {
    	$.ajax({
				type:'GET',
				url:"{:U('Admin/System/ClearGoodsThumb')}",
				data:{goods_id:goods_id},
				dataType:'json',
				success:function(data){
					layer.alert(data.msg, {icon: 2});								 
				}
		});
    }	
    function delCat(id,obj)
    {
        $.ajax({
                type:'POST',
                url:"{:U('Admin/Goods/delCat')}",
                data:{id:id},
                dataType:'json',
                success:function(data){
                    if(data.status == 1){
                        $(obj).parents('tr').remove();
                        layer.alert(data.msg, {icon: 1});                                
                    }else{
                        layer.alert(data.msg, {icon: 2});                                
                    }
                }
        });        
    }    	
</script>