<html>
	<head>
		<title>叉车图片</title>
		<meta charset='utf-8'>
	</head>
	<body>
            <if condition='$OrderInfo.zm_pic neq NULL'>
                <img width='100%' src="{$OrderInfo.zm_pic}" alt="">
            </if>
            <if condition='$OrderInfo.cm_pic neq NULL'>
                <img width='100%' src="{$OrderInfo.cm_pic}" alt="">
            </if>
            <if condition='$OrderInfo.czt_pic neq NULL'>
                <img width='100%' src="{$OrderInfo.czt_pic}" alt="">
            </if>
            <if condition='$OrderInfo.nb_pic neq NULL'>
                <img width='100%' src="{$OrderInfo.nb_pic}" alt="">
            </if> 		
	</body>
</html>