<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>好运旺租叉车</title>
<link href="../css/base.css" rel="stylesheet" type="text/css" />
<link href="../css/style.css" rel="stylesheet" type="text/css" />
</head>


<body>
<div class="top">
 <div class="toplink">
   <div class="toplink2">
    <div class="tophun"> 您好，欢迎登录东莞市粤力叉车租赁公司官网!</div>
   <div class="topdeng"><a href="#" class="huiy1">会员登录</a> <a href="#" class="huiy2">免费注册</a> <a href="#">设为首页 |</a>   <a href="#">在线商城 |</a>  <a href="#">联系我们</a></div>
   <div class="clear"></div>
   </div>
 </div>
 <div class="logoTel">
  <div class="logo"><img src="../images/logo.gif" width="409" height="59" /></div>
  <div class="tel"><img src="../images/tel.gif" width="279" height="59" /></div>
  <div class="clear"></div>
 </div>
 <div class="menu">
   <div class="caid">
    <ul class="menuLink">
     <li><a href="index.html" class="current">首页</a></li>
     <li><a href="zuli/lease.html">叉车租赁</a>
      <ul>
        <li><a href="#">年月租</a></li>
        <li><a href="#">临时租</a></li>
        <li><a href="#">快捷租车</a></li>
      </ul>
     </li>
     <li><a href="mallshop.html">好运商城</a>
        <ul>
        <li><a href="#">特价车</a></li>
        <li><a href="#">工业品</a></li>       
      </ul>
     </li>
     <li> <a href="news.html">资讯中心</a>
       <ul>
        <li><a href="#">叉车租赁问答</a></li>
        <li><a href="#">叉车保养知识</a></li>
        <li><a href="#">叉车故障排除</a></li>
        <li><a href="#">行业新闻</a></li>
        <li><a href="#">公司新闻</a></li>
        <li><a href="#">叉车百科</a></li>
        <li><a href="#">叉车证</a></li>
        <li><a href="#">叉车上牌</a></li>
        <li><a href="#">下载专区</a></li>
      </ul>
     </li>
     <li><a href="car.html">服务网络</a></li>     
     <li><a href="join.html">加盟合作</a></li>
     <li class="last"><a href="about/about1.html">关于我们</a>
      <ul>
        <li><a href="#">好运旺简介</a></li>
        <li><a href="#">联系方式</a></li>       
        <li><a href="#">荣誉资质</a></li>        
        <li><a href="#">成功案例</a></li>
        <li><a href="#">发展历程</a></li>
        <li><a href="#">招贤纳士</a></li>
      </ul>
     </li> 
    </ul>
   </div>
 </div>
<div class="now">
    <div class="now1">您当前的位置：<a href="#">首页</a>  >  <a href="#">关于我们</a> > 好运旺简介</div>
    <div class="now2"><form action="" method="get">
     <div class="souk"><input name="" type="text" class="shur2"  value="请输入关键字  如品牌、吨位、名称、型号" onfocus="if(this.value=='请输入关键字  如品牌、吨位、名称、型号'){this.value='';this.style.color='#444'}" onblur="if(this.value==''){this.value='请输入关键字  如品牌、吨位、名称、型号';this.style.color='#999'}"/></div>
     <div clsas="souk2">
      <input name="" type="button" class="anniu2"/>
     </div>
     <div class="clear"></div>
    </form></div>
    <div class="clear"></div>
   </div>
    <div class="neiBanner"><img src="../images/neibn1.jpg" width="1198" height="296" /></div>
    <div class="neiNav">
    <ul class="navlist">
     <li><a href="about1.html" >好运旺简介</a></li>
     <li><a href="about2.html" >联系方式</a></li>
     <li><a href="about3.html" class="current">下载专区</a></li>    
    </ul>
   </div>
</div>
<div class="neiCent2">
<div class="xinwen">
    <ul class="xiazlist">
      <li><a href="#">客户交易细则</a><span><img src="../images/tub5.gif" width="16" height="16" /></span></li>
      <li><a href="#">车主交易细则</a><span><img src="../images/tub5.gif" width="16" height="16" /></span></li>
      <li><a href="#">临时租交易细则</a><span><img src="../images/tub5.gif" width="16" height="16" /></span></li>
      <li><a href="#">运输协议</a><span><img src="../images/tub5.gif" width="16" height="16" /></span></li>
      <li><a href="#">租车流程</a><span><img src="../images/tub5.gif" width="16" height="16" /></span></li>
      <li><a href="#">临时租交易细则</a><span><img src="../images/tub5.gif" width="16" height="16" /></span></li>
      <li><a href="#">运输协议</a><span><img src="../images/tub5.gif" width="16" height="16" /></span></li>
      <li><a href="#">租车流程</a><span><img src="../images/tub5.gif" width="16" height="16" /></span></li>
    </ul>
</div>
</div>
 <div class="foot">
  <div class="foot2">
  <div class="footlogo">
   <div class="logo2"><img src="../images/logo2.gif" width="389" height="65" /></div>
   <div class="footliax">
    <p class="tongy">全国统一热线：</p>
    <p> 400 1648 168； 0769-23102690；  15812814965      </p>
    <p>地址：广州市天河区建中路勤天大厦</p>
    </div>
    <div class="erwm">
     <div class="erwm1"><img src="../images/erwm1.gif" width="86" height="85" /><span>app 二维码</span></div>
     <div class="erwm1"><img src="../images/erwm1.gif" width="86" height="85" /><span>微信公众号</span></div>
     <div clsas="clear"></div>
    </div>
  </div>
  <div class="footmenu">
   <div class="fmen1">
    <div class="fmen1tit">叉车租赁  </div>
    <ul class="fmenu1">
     <li>年月租</li>
     <li><a href="#">临时租</a></li>
    </ul>
   </div>
   <div class="fmen1">
    <div class="fmen1tit">好运商城 </div>
    <ul class="fmenu1">
     <li><a href="#">特价叉车</a></li>
     <li>其他</li>
    </ul>
   </div>
   <div class="fmen1">
    <div class="fmen1tit">最新资讯 </div>
    <ul class="fmenu1">
     <li><a href="#">市场动态</a></li>
     <li><a href="#">租赁问答</a></li>
     
    </ul>
   </div>
   <div class="fmen1">
    <div class="fmen1tit">加盟合作 </div>
    <ul class="fmenu1">
     <li><a href="#">加盟合作</a></li>   
    </ul>
   </div>
   <div class="fmen1">
    <div class="fmen1tit">联系我们 </div>
    <ul class="fmenu1">
     <li><a href="#">联系方式</a></li>
     <li><a href="#">公司简介</a></li>
     <li><a href="#">下载专区</a></li>
    </ul>
   </div> 
   <div class="clear"></div>
  </div>
  <div class="clear"></div>
  </div>
  <div class="copyright">
   <div class="coyr2">      Copyright © 2014 好运旺租叉车电商平台 东莞市粤力叉车租赁有限公司 All Rights Reserved<br/>   
备案号：粤ICP备13001988号  技术支持：<a href="#">云鸿科技</a> <a href="#">app开发</a></div>
  </div>
 </div>
 
</body>
</html>
